button {
  width: auto;
  height: auto;
  border-radius: 5px;
  border: solid rgb(204, 204, 204) 1px;
  background: rgb(236, 236, 236);
  box-shadow: rgb(184, 184, 184) 0px 1px 2px;
  padding: 15px;
}

.line,
.circle {
  stroke-width: 6px;
  fill: none;
}

.line {
  stroke: url(#line-grad);
  animation: draw-line ease-in-out 0.2s both;
}

.circle {
  stroke: url(#circle-grad);
  stroke-linecap: round;
  animation: draw-circle ease-in-out 0.2s both;
}

@keyframes draw-line {
  from {
    stroke-dasharray: 0 142%;
  }

  to {
    stroke-dasharray: 142% 0;
  }
}

@keyframes draw-circle {
  from {
    stroke-dasharray: 0 250%;
  }

  to {
    stroke-dasharray: 250% 0;
  }
}
