* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, #root {
  width: 100vw;
  height: 100vh;
}

button, input {
  background: rgb(223, 223, 223);
  border: solid 1px rgb(172, 172, 172);
  outline: none;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:disabled {
  background: rgb(172, 172, 172);
  cursor: not-allowed;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen {
  animation: fade-in both 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
